namespace YamlConfig {
struct {{ data.name }} {
  {{ data.name }}() = default;
  {{ data.name }}(rclcpp::Node *node){
    {% for init in data.initializations %}
        {% if init.structName %}
            node->get_parameter("{{ init.attributeName }}", {{ init.structName }}.{{ init.fieldName }});
        {% else %}
            node->get_parameter("{{ init.attributeName }}", {{ init.fieldName }});
        {% endif %}
    {% endfor %}
  }
  {% if data.fields %}

  {% endif %}
  {% for field in data.fields %}
    {{ field.type }} {{ field.name }};
  {% endfor %}
  {% for struct in data.structs %}

    {{struct}}
  {% endfor %}

  std::string toString() const {
    std::stringstream ss;
    ss << "{{ data.name }}(";
    {% for init in data.initializations %}
        {% if init.structName %}
            ss << "{{ init.parameterName }}: " << {{ init.structName }}.{{ init.fieldName }} {% if init != data.initializations[-1] %}  << ", " {% endif %};
        {% else %}
            ss << "{{ init.parameterName }}: " << {{ init.fieldName }} {% if init != data.initializations[-1] %}  << ", " {% endif %};
        {% endif %}
    {% endfor %}
    ss << ")";
    return ss.str();
  }
};
};