struct {{ data.name }} {
    {{ data.name }}() = default;
    {{ data.name }}(rclcpp::Node *node){
        {% for field in data.fields %}
            node->get_parameter("{{ data.name }}.{{ field.name }}", {{ field.name }});
        {% endfor %}
    }

    std::string toString() const{
        std::stringstream ss;
        {% for field in data.fields %}
            ss << "{{ data.name }}.{{ field.name }}: " << {{ field.name }} << std::endl;
        {% endfor %}
        return ss.str();
    }
    
    {% for field in data.fields %}
    {{ field.type }} {{ field.name }};
    {% endfor %}
};